/*############# DEFAULTS #################*/

nav,header,footer {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

label {
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 20px;
    line-height: 1.2;
}

article p {
    font-size: 20px;
    padding: 20px;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
    
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

* {
    box-sizing: border-box;
}

/*############## NAVBAR ####################*/

nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right{
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 18px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}

ul.topnav li a:hover {
    background-color: #0080ff;
    color: white;
}

ul.topnav li.dropdownIcon {
    display: none;
}

#dropdownClick {
    
}

/*######### Custom styles ###############*/

#section-1-gradient{
    background: -webkit-linear-gradient(#99e6ff,#00ace6);
}

div.box {
    text-align: center;
    margin: 24px;
    padding: 36px 24px 40px 24px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15),
        0 2px 3px 0 rgba(0,0,0,0.10);
    border-radius: 7px;
}

div.deviceIcon img {
    display: block;
    margin: auto;
    box-shadow: -2px/*horizontal*/ -2px/*vertical*/ 5px/*blur*/ 2px/*spread*/ rgba(0/*Sh*/,0/*BG*/,0/*BX*/,0.15/*Op*/),
        2px 2px 5px 2px rgba(0,0,0,1);
}

button {
    font-size: 26px;
    font-weight: bold;
    color: white;
    background-color: #0069ff;
    padding: 15px 60px;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin: auto;
}

div.icon {
    width: 100%;
}

.leftside-col{
    margin-left: 30%;
}

.rightside-col {
    margin-left: 15%;
    overflow: hidden;
}

h1.large {
    color: white;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
}

h1.section2Header {
    font-size: 55px;
    text-align: center;
    
}

form h2{
    color: white;
    
}

input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 5px;
}

footer.footsy {
    background-color: darkgray;
    padding-left: 10%;
    padding-bottom: 20%;
}

footer.footsy h4 {
    color: white;
    font-size: 22px;
}

footer.footsy ul {
    list-style: none;
    text-align: left;
    padding-left: 0;
}

footer.footsy ul li {
    color: white;
    font-size: 18px;
    line-height: 1.3;
}

.videoContainer iframe {
    display: relative;
    width: 90%;
    margin: 0;
    overflow: hidden;
    
}



/*############## Mobile #################*/
@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)) {
        display: none;
    }
    
    ul.topnav li.dropdownIcon {
        display: block;
        float: right;
    }
    
    ul.topnav.responsive li.dropdownIcon {
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive {
        position: relative;
    }
    
    ul.topnav.responsive li{
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    
    article p {
        font-size: 20px;
    }
    
    .col-6,
    .col-4,
    .col-7,
    .col-5 {
        width: 100%;
        margin: 0;
    }
    
    div.mobilefooter {
        width: 50%;
        display: block;
    }
    
    div.box {
        padding: 5px;
        display: block;
    }
    
    div.deviceIcon img{
        width: 90%;
    }
    
    div.leftside-col,
    div.rightside-col {
        margin: 15px;
    }
    
    input[type="text"] {
        width: 350px;
        
    }
    
    .videoContainer iframe {
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
        
    }
}

